.favourite-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.favo-title {
  color: #ff8a00;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
}

.balken {
  height: 0.3vh;
  width: 80vw;
  background: linear-gradient(
    135deg,
    rgba(255, 138, 0, 0) 0%,
    rgba(255, 138, 0, 1) 50%,
    rgba(255, 138, 0, 0) 100%
  );
}
